<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xsjqzt.module_main">

    <application>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 7.0 以上手机权限  一个应用提供自身文件给其它应用使用时解决方案 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xsjqzt.app.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.RoomNumPswUnlockActivity"
            android:theme="@style/TransparentTheme" />
        <activity
            android:name=".ui.RegistICCardActivity"
            android:theme="@style/TransparentTheme" />
        <activity android:name=".ui.SystemInfoActivity"
            android:theme="@style/TransparentTheme"/>
    </application>

</manifest>